<!DOCTYPE html>
<html>
<head>
	<title>My Web App</title>
</head>
<body>
	<h1>Welcome to my web app!</h1>
	<h1>Allen Boy App</h1>
	<img src="img/redwoman.jpg" width = 304, height=300/>

	<br>
	<a href="/">Home</a> |
	<a href="/about">About</a> 


	<h1>John snow</h1>
	<img src="img/thenorthremembers.jpg" style="width:304px;height:228px;  ">

	<h1>pitot</h1>
	<img src="img/thewarstocome.jpg" style="width:304px;height:228px;  ">

	<h1>Kuyaw</h1>
	<img src="img/twoswords.jpg" style="width:304px;height:228px;  ">

	<h1>King</h1>
	<img src="img/valar.jpg" style="width:304px;height:228px;  ">

	<h1>Queen</h1>
	<img src="img/winteriscoming.jpg" style="width:304px;height:228px;  ">

</body>
</html>

